doctype html 

head
	script(src='//code.jquery.com/jquery.js')
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel")
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato")
	link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Bevan")
	block headContent
		title BarHopShop
		link(rel="stylesheet" href="/public/styles/main.css")
		script.
			var barList = !{JSON.stringify(bars).replace(/<\//g, '<\\/')};
			$(document).ready(function() {
				var name = !{JSON.stringify(user)};
				if (name.length>0) {
					var str = "<a href='/profile'>" + name + "</a>";
					$('.item:nth-child(2)').html(str);
				}
			});
		
body
	div.topBanner
		div#intro
			h3 Welcome to the BarHopShop. Browse bars around your place of dwelling, plan, meet, and be merry!
		div#menu
				div.item 
					a(href='/') HOME
				div.item 
					a(href='/login') LOGIN
				div.item 
					a(href='/register') REGISTER
				div.item 
					a(href='/contact') CONTACT
		form#locationForm(action='/' method='POST')
			input.searchBox(name='location' type='text' placeholder='GO')
	block bodyContent
		div#mask
			div#content
				div.app
		script(src='build/bundle.js' type='text/javascript')
